$dark: #2C3E50;  
$red: #E74C3C;  
$white: #ECF0F1;  
$mid: #3498DB;  
$light: #2980B9;
$headerFont: Helvetica, sans-serif; 

@import "reset";


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

	
img {@include border-radius(20px);
width: 610px;
padding: 15px 0px 15px 0px;}

html {
	background-color: $dark;
	
}

body {
	color: $white;
	width: 640px; 
	margin:10 auto;
}  
		
h1 {
	font-family: $headerFont;
	text-transform: uppercase;
	font-size: 4em;}

h2 {
	font-size: 1em;
}

section {
	h1{	color: $red;
		background-color: $white;
		font-size: 3em;
		padding: 15px;
		@include border-radius(20px)}
}

header {
nav {margin-top: 40px;
	margin-bottom: 40px;
	ul {list-style: none; font-size: 1.5em; font-family: $headerFont;}
	a {text-decoration: none; color: $dark;}
	li {display: inline; margin: 0px 20px 0px 0px; padding: 10px; background-color:$mid; 	@include border-radius(15px);}
}
}

article {
	margin: 25px 0px 25px 0px;
	padding: 0px 0px 15px 0px;
	@include border-radius(15px);
	background-color: $light;
	p {padding: 0px 10px 15px 15px;}
	header {padding: 0px 0px 15px 15px;}
	li {list-style: disc; margin: 10px 40px 10px 40px;}
	h2 {font-family: $headerFont; font-size: 2.5em; padding-bottom: 10px;}
	h3 {font-size: 1.5em;}
}

footer {padding: 0px 0px 20px 0px;
font-size: small;
h1 {font-family:$headerFont; font-size: small; font-style: bold; display: inline; }
h2 {font-family:$headerFont; display: inline;}
nav {display: inline; font-size: small; color: $white;}
ul {display: inline;}
li {display: inline; padding: 0px 10px 0px 10px;}
a{ color:$white; text-decoration: none;}
}
